<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.code.clkj.menggong">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <!-- 重复，可删掉 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>

    <!-- 查看 Wi-Fi 状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 控制振动器 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 防止设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <!-- 获取联系人信息，demo中演示发送通讯录消息 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- ⼩米 配置开始 < -->
   <!-- <permission
        android:name="cn.rongcloud.im.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="cn.rongcloud.im.permission.MIPUSH_RECEIVE"/>-->
    <!-- ⼩米 配置结束 < -->
    <!-- GCM 配置开始 < -->
  <!--  <permission
        android:name="cn.rongcloud.im.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="cn.rongcloud.im.permission.C2D_MESSAGE"/>-->
    <!-- GCM 配置结束 < -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 地图定位 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/g"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">

        <!-- autoLayout配置 -->
        <meta-data
            android:name="design_width"
            android:value="640"/>
        <meta-data
            android:name="design_height"
            android:value="1136"/>
        <!-- 定位配置 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="313c236a9f34f44cdbf0d1e171595164"/>
     <!--   5b36ba4d5c37dac17b5b2502be033535-->

        <!-- 首页 -->
        <activity
            android:name=".activity.comHome.ActHome"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
           >
           <!-- android:windowSoftInputMode="adjustPan"-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="openinstall"/>
            </intent-filter>

        </activity>

        <!-- 欢迎页 -->
        <activity
            android:name=".activity.comWelcome.ActWelcome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.openinstall.APP_KEY"
            android:value="eimo2u"/>
        <!-- 引导页 -->
        <activity
            android:name=".activity.comUserGuidance.ActUserGuidance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- Web页面 -->
        <activity
            android:name=".activity.comWeb.ActWeb"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 登录页 -->
        <activity
            android:name=".activity.comUserLogin.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".activity.comUserLogin.ForgetPassWordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comUserLogin.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comNear.NearHomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comChatRoom.ActChatRoom"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activity.comPersonalCenter.PersonalDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 我的关注 -->
        <activity
            android:name=".activity.comHomefollow.ActHomefollow"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 密码管理 -->
        <activity
            android:name=".activity.comHomepassword.ActPassWord"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 设置支付密码 -->
        <activity
            android:name=".activity.comHomepassword.comPayPassWord.ActSetPayPassWord"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.lf.tempcore.tempModule.previewComponments.activity.ActImagePreview"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <!-- 修改支付密码 -->
        <activity
            android:name=".activity.comHomepassword.comForgetPayPassWord.ActForgetPayPassWord"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 重置登录密码 -->
        <activity
            android:name=".activity.comHomepassword.comResetLoginPassword.ActResetLoginPW"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--重置支付密码-->
        <activity
            android:name=".activity.comHomepassword.comResetPayPassword.ActResetPayPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 检测预约 -->
        <activity
            android:name=".activity.comHomeDetection.ActDetection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 个人中心管理地址 -->
        <activity
            android:name=".activity.comAddress.ActAddress"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comAddress.ActAddAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comAddress.ActEditAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 个人中心管理地址 -->
        <activity
            android:name=".activity.comLive.ActLiveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 主播认证 -->
        <activity
            android:name=".activity.comLiveApply.ActLiveApplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 融云 -->
        <!-- 会话页面 -->

        <activity
            android:name=".activity.ConversationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="com.code.clkj.menggong"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>

        <!-- 观看历史 -->
        <activity
            android:name=".activity.comLiveHistory.ActShowLiveHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comLiveHistory.ActEditLiveHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 我的订单 -->
        <activity
            android:name=".activity.comLiveMyOrder.ActMyOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comLiveMyOrder.ActMyOrderdetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comLiveMyOrder.ActMyOrderEvaluateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 我的礼物 -->
        <activity
            android:name=".activity.comLiveMyGift.ActMyGiftActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comLiveMyGift.ActMyGiftExchangeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 设置 -->
        <activity
            android:name=".activity.comSetUp.ActSetUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.code.clkj.menggong.activity.comHomepassword.ActTuiguang"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.code.clkj.menggong.activity.comHomepassword.comPayPassWord.ActtuijianUser"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        co
        <activity
            android:name=".activity.comSetUp.ActAboutUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comSetUp.ActCommonProblemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comSetUp.ActFeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comSetUp.ActInstallationGuideActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 消息中心 -->
        <activity
            android:name=".activity.comMessageCenter.ActMessageCenterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 我的钱包 -->
        <activity
            android:name=".activity.comMyWallet.ActMyWalletActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comMyWallet.ActRechargeMoneyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comMyWallet.ActPaymentMethodActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comMyWallet.ActApplyCashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comMyWallet.ActAddBankCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 个人主页（附近） -->
        <activity
            android:name=".activity.comPersonalAvatar.ActPersonalAvatarActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 动态发布 -->
        <activity
            android:name=".activity.comDynamics.ActDynamicsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 产品详情 -->
        <activity
            android:name=".activity.comAnchorStore.ActCommodityDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comAnchorStore.ActAnchorStoreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comAnchorStore.ActCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 认证状态界面 -->
        <activity
            android:name=".activity.comLiveApply.comAuthenticationState.ActAuthenticationState"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 主播重新认证 -->
        <activity
            android:name=".activity.comLiveApply.comLiveApplyAgain.ActLiveApplyAgainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.comCameraStreaming.ExtCapStreamingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TempAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>


        <activity
            android:name=".activity.comCameraStreaming.AVStreamingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TempAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>


        <activity
            android:name=".activity.comCameraStreaming.ExtCapStreamingActivity1"
            android:screenOrientation="portrait"
            android:theme="@style/TempAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <!-- 个人主页 -->
        <activity
            android:name=".activity.comMyHomePage.ActMyHomePage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 查看其他人主页 -->
        <activity
            android:name=".activity.comOtherHomePage.ActOtherHomePage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- &lt;!&ndash;主播许海&ndash;&gt; -->
        <!-- <activity android:name=".activity.comLiveBroadcast.AVStreamingActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="adjustPan"/> -->


        <!-- 确认订单 -->
        <activity
            android:name=".activity.comOrder.ActOrder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <receiver
            android:name=".SealNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED"/>
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED"/>
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED"/>
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED"/>
            </intent-filter>
        </receiver>

        <!-- 第三方的推送 权限 广播 和服务 -->


        <!-- 小米 配置开始 < -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"/>
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true"/>
        <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->

        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <!-- 注：此service必须在3.0.1版本以后（包括3.0.1版本）加入 -->

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.push.platform.MiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR"/>
            </intent-filter>
        </receiver>
        <!-- 小米 配置结束 < -->


        <!-- HMS 配置开始 -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="10535759"/>

        <!-- 第三方相关 :接收Push消息（注册、Push消息、Push连接状态）广播 -->
        <receiver android:name="io.rong.push.platform.HMSReceiver">
            <intent-filter>

                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION"/>
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE"/>
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK"/>
                <!-- 可选，查看push通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
            <intent-filter>

                <!-- 接收通道发来的通知栏消息，兼容老版本Push -->
                <action android:name="com.huawei.intent.action.PUSH"/>
            </intent-filter>
        </receiver>
        <!-- HMS 配置结束 -->
        <!-- GCM 配置 < -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="cn.rongcloud.im"/>
                <!-- 替换为自己的packagename < -->
            </intent-filter>
        </receiver>

        <service
            android:name="io.rong.push.platform.RongGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service
            android:name="io.rong.push.platform.RongGCMInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- GCM 配置结束 < -->
        <!-- 第三方推送的权限 广播 服务 配置结束 -->
        <service android:name="com.amap.api.location.APSService"/>
        //定位服务
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.code.clkj.menggong.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path"/>
        </provider>

        <activity android:name=".activity.comLookLive.ActLookLiveDetails"/>
        <!-- 看直播 -->
        <activity
            android:name=".activity.comLookLive.PLVideoViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.comLookLive.PLVideoViewActivity1"/>
        <activity
            android:name=".activity.comLookLive.PLVideoViewActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".activity.comCameraStreaming.ImportStreamingActivity"/>
        <!-- 支付 -->
        <activity android:name=".activity.comMyWallet.ActPaymentMethodActivity1"/>

        <!-- 微信支付回调页面 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".fragment.comHome.MoreLive.ActMoreHotLive"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".fragment.comHome.MoreLive.ActMoreNewStarLive"/>
        <activity android:name=".activity.comSearch.ActSearch"></activity>
    </application>

</manifest>